<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>{% block title %}{% endblock %} | OokCatalog</title>
</head>
<body>
<main>
    <header class="section">
        <div class="container is-max-desktop">
            <nav class="level">
                <div class="level-left">
                    <a href="{{ url_for('ookcatalog.home') }}">
                        <div class="level-item">
                            <p class="subtitle is-3">OokCatalog</p>
                        </div>
                    </a>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <form action="{{ url_for('ookcatalog.search') }}" method="get">
                            <div class="field has-addons">
                                <div class="control">
                                    <input name="q" required minlength="3" class="input" type="text" placeholder="Trouver une table">
                                </div>
                                <div class="control">
                                    <input type="submit" class="button is-primary" value="Rechercher">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section class="section">
        <div class="container is-max-desktop">
            {% block content %}{% endblock %}
        </div>
    </section>
</main>
</body>
</html>